<div class="coins-supported p-2">
    <span class="coins-supported__span coins-suported--bitcoin">
        {%  render 'icon-bitcoin' %}
    </span>
    <span class="coins-supported__span coins-suported--ethereumcoin">
        {%  render 'icon-ethereumcoin' %}
    </span>
    <span class="coins-supported__span coins-suported--litecoin">
        {%  render 'icon-litecoin' %}
    </span>
    <span class="coins-supported__span coins-suported--dogecoin">
        {%  render 'icon-dogecoin' %}
    </span>
    <span class="coins-supported__span coins-suported--stablecoin">
        {%  render 'icon-stablecoin' %}
    </span>
</div>