<div class="coins-supported p-2">
    <p class="coins-supported__label text-2xs">We Accept</p>
    <div class="coins-supported__content">
        <span class="coins-supported__span coins-supported__span--bitcoin">
            {%  render 'icon-bitcoin' %}
        </span>
        <span class="coins-supported__span coins-supported__span--ethereumcoin">
            {%  render 'icon-ethereumcoin' %}
        </span>
        <span class="coins-supported__span coins-supported__span--litecoin">
            {%  render 'icon-litecoin' %}
        </span>
        <span class="coins-supported__span coins-supported__span--dogecoin">
            {%  render 'icon-dogecoin' %}
        </span>
        <span class="coins-supported__span coins-supported__span--stablecoin">
            {%  render 'icon-stablecoin' %}
        </span>
    </div>
</div>