<div class="collection-card">
    <div class="collection-card__image">
        <img src="{{collection.image | asset_url}}" alt="Img for Collection {{collection.title}}" width="200" height="300" loading="lazy">
        <span>{{collection.title}}</span>
    </div>
</div>