<div class="product-card">
  <div class="product-card__image">
    <img src="{{product.image | asset_url}}" alt="Img for {{product.title}}" width="200" height="300">
  </div>
  {% if product.tags %}
    <ul class="tag py-2">
      {% for tag in product.tags %}
        <li>{% render 'badge', badge_text:tag, class:"badge--secondary" %}</li>
        
      {% endfor %}
    </ul>
  {% endif %}
  <h3 class="product-card__title">{{ product.title }}</h3>
  <p class="product-card__price">${{ product.price }}</p>
</div>
