@use "../abstracts" as *;

.button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  border-style: none;
  padding: 8px;

  &--primary {
    background: $primary-color;
    color: white;
  }

  &--secondary {
    background: $secondary-color;
    color: white;
  }
}
