@use "../abstracts" as *;

.header {
    position: sticky;
    top: 0;

    &__content{
        background-color: $primary-background;
        height: 4rem;
        border: none;
        @include responsive-grid(2, 3);
    }
}