.text {
  &-2xs {
    font-size: 0.75rem;
  }
  &-xs {
    font-size: 1rem;
  }
  &-normal {
    font-size: 1.2rem;
  }
  &-md {
    font-size: 1.75rem;
  }
  &-lg {
    font-size: 2rem;
  }
  &-xl {
    font-size: 2.5rem;
  }
}

.font {
  &-bold {
    font-weight: bold;
  }
  &-bolder {
    font-weight: bolder;
  }
  &-extrabolder {
    font-weight: 900;
  }
}
