<footer class="footer">
    <div class="container pt-2">
        <div class="footer__content">
            <div class="shop__info"></div>
            <div class="nav__content"></div>
            <div class="form__contact"></div>
        </div>
    </div>
</footer>