<header class="header">
    {%  render 'top-bar', marquee_text: settings['top-bar'].settings.marquee_text %}
    <div class="header__content px-4"  data-header>
        <div class="header__left gap-3">
            {%  render 'icon-menu' %}
            <div class="header__logo">
                <img src="{{ settings['header'].settings.primary_logo | asset_url }}" alt="Shuffle Logo" loading="lazy" width="20" height="20">
                <h1 class="letter-spacing-extratight text">SHUFFLE<E</h1>
            </div>
            <div class="header__store gap-1">
                <span class="header__store header__store--separator"></span>
                <h1 class="letter-spacing-extratight text-xs">STORE</h1>
            </div>
        </div>
        <nav class="header__nav">
            sss
        </nav>
        <div class="header__right gap-4">
            <a href="#">All Products</a>
            <a href="#">Collections</a>
            <button class="button button--secondary" aria-label="{{ settings['header'].settings.aria_car }}">
                {% render 'icon-cart' %}
            </button>
        </div>
    </div>
</header>