<div class="hero-banner">
    <img src="{{ settings['hero-banner'].settings.background_image | asset_url }}" alt="" width="800" height="700">
    <button class="button button--secondary text-normal" type="button">{{ settings['hero-banner'].settings.button_text }}</button>
</div>