$primary-color: #181818;
$primary-background:#1D1D1F;
$secondary-color: #762bfb;
$secondary-icon-color: #ccaeff;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-white: #fff;
$light-secondary-color: #9984FE; 
$spacing-values: (
  "0": 0px,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
);
$gap-values:(
  "0": 0px,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
)