@use "../abstracts" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  @include respond(sm) {
    max-width: 648px;
  }

  @include respond(md) {
    max-width: 850px;
  }

  @include respond(lg) {
    max-width: 1100px;
  }

  @include respond(xl) {
    max-width: 1140px;
  }

  &--wide {
    @include respond(md) {
      max-width: 1400px;
    }
  }

  &--narrow {
    @include respond(md) {
      max-width: 800px;
    }
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.u-container-padding-x {
  @include container-padding-x();
}
