@use "../abstracts" as *;

.featured-products{
    @include flex-col;
    width: 100%;
    
    &__container{
        
        @include respond(md){
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 16px;
        }

    }
}