@use "../abstracts" as *;

.footer {
  @include size(100%, auto);

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 16px; /* Espacio entre columnas */

    /* Intercambiar columnas en dispositivos pequeños */
    .shop__info {
      order: 2; /* La primera columna se mueve a la segunda posición */
    }

    .nav__content {
      order: 1; /* La segunda columna se mueve a la primera posición */
    }

    .form__contact {
      order: 3; /* La tercera columna permanece en su lugar */
    }

    /* Restaurar el orden en dispositivos medianos (md) */
    @include respond(md) {
      .shop__info {
        order: initial; /* Restablece el orden */
      }

      .nav__content {
        order: initial; /* Restablece el orden */
      }

      .form__contact {
        order: initial; /* Restablece el orden */
      }
    }

    &-shop__info {
      @include flex-col;
      gap: 15px;

      &.shop__info--img {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        & img {
          @include square-size(4rem);
        }

        & span {
          color: $text-white;
          font-weight: 900;
          display: flex;
          align-items: flex-start;
          & i {
            color: $secondary-color;
            font-weight: normal;
          }
        }
      }

      & p {
        color: $text-white;
        font-size: 0.5rem;
        line-height: 0.8rem;
        & a {
          text-decoration: none;
          color: $text-white;
        }
      }
    }
    &-nav__content {
      @include flex-col;
      justify-content: space-around;
      align-items: center;
    }
  }
}
