@use "../abstracts" as *;

.header {
    position: sticky;
    top: 0;

    &__content{
        background-color: $primary-background;
        height: 4rem;
        border: none;
        place-content: center;
        @include responsive-grid(2, 3);
    }

    &__nav{
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
}

