@use "../abstracts" as *;

.latest-collection {
  @include size(100%, auto);
  margin-top: 60px;
  transition: all 0.2s ease-out;

  &__title {
    @include flex-col-center;
    @include square-size(100%);

    &-first-col {
      @include flex-align-center;
      flex-direction: row;

      & div {
        font-size: 2rem;
        color: $text-white;

        & span:nth-of-type(2) {
          display: none;

          @include respond(md) {
            display: block;
          }
        }

        @include respond(md) {
          @include flex-align-center;
          gap: 8px;
        }
      }
    }
    & > span {
      font-size: 2rem;
      color: $text-white;

      @include respond(md) {
        display: none;
      }
    }
  }
  &__content {
    @include flex-col;
    @include size(100%, auto);
    gap: 10px;
  }

  &__collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 16px; /* Espacio entre elementos */

    & .collection-card:nth-child(3n) {
      grid-column: span 2;
      height: 15rem;
    }
  }
}
